<!DOCTYPE html>
<html>
    <head>
        <title>Audio Player</title>
        <link rel="stylesheet" href="/Audioplayer/audioplayer.css">
    </head>
    <body><br><br><br>
        <p>Tera Happy Birthday ~ Sachin - Jigar</p>
        <audio controls>
            <source src="1.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/1.mp3" download="Tera Happy Birthday"> 
            <button type="button">Download this song now ~ 3504 KB</button> 
        </a> <br><br><br>
        <p>Abhi Toh Party Shuru Hui Hai ~ Badshah</p>
        <audio controls>
            <source src="2.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/2.mp3" download="Abhi Toh Party Shuru Hui Hai"> 
            <button type="button">Download this song now ~ 6005 KB</button> 
        </a> <br><br><br>
        <p>Burjkhalifa ~ Himmat Sandhu</p>
        <audio controls>
            <source src="3.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/3.mp3" download="Burjkhalifa "> 
            <button type="button">Download this song now ~ 2974 KB</button> 
        </a> <br><br><br>
        <p>Chocolate ~ Tony Kakkar</p>
        <audio controls>
            <source src="4.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/4.mp3" download="Chocolate"> 
            <button type="button">Download this song now ~ 3603 KB</button> 
        </a> <br><br><br>
        <p>Daru Party ~ Millind Gaba</p>
        <audio controls>
            <source src="5.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/5.mp3" download="Daru Party"> 
            <button type="button">Download this song now ~ 5007 KB</button> 
        </a> <br><br><br>
        <p>Daru Badnaam ~ Param Singh, Kamal Kahlon</p>
        <audio controls>
            <source src="6.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/6.mp3" download="Daru Badnaam"> 
            <button type="button">Download this song now ~ 5333 KB</button> 
        </a> <br><br><br>
        <p>Kurta Pajama ~ Tony Kakkar</p>
        <audio controls>
            <source src="7.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/7.mp3" download="Kurta Pajama"> 
            <button type="button">Download this song now ~ 1218 KB</button> 
        </a> <br><br><br>
        <p>Dil Bechara (Title Track) ~ 	A. R. Rahman</p>
        <audio controls>
            <source src="8.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/8.mp3" download="Dil Bechara"> 
            <button type="button">Download this song now ~ 2615 KB</button> 
        </a> <br><br><br>
        <p>Yaari Hai ~ Tony Kakkar</p>
        <audio controls>
            <source src="9.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/9.mp3" download="Yaari Hai"> 
            <button type="button">Download this song now ~ 3553 KB</button> 
        </a> <br><br><br>
        <p>Yaalgar ~ CarryMinati</p>
        <audio controls>
            <source src="10.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/10.mp3" download="Yaalgar"> 
            <button type="button">Download this song now ~ 4644 KB</button> 
        </a> <br><br><br> 
        <p>Aankh Marey ~ Kumar Sanu, Neha Kakkar, Mika Singh</p>
        <audio controls>
            <source src="11.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/11.mp3" download="Aankh Marey"> 
            <button type="button">Download this song now ~ 1721 KB</button> 
        </a> <br><br><br> 
        <p>Blue Eyes ~ Yo Yo Honey Singh</p>
        <audio controls>
            <source src="12.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/12.mp3" download="Blue Eyes"> 
            <button type="button">Download this song now ~ 1546 KB</button> 
        </a> <br><br><br> 
        <p>Hindustani ~ Shankar Mahadevan, Udit Narayan</p>
        <audio controls>
            <source src="13.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/13.mp3" download="Hindustani"> 
            <button type="button">Download this song now ~ 2338 KB</button> 
        </a> <br><br><br> 
        <p>Illegal Weapon 2.0 ~ Jasmine Sandlas, Garry Sandhu, Tanishk Bagchi, Intense</p>
        <audio controls>
            <source src="14.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/14.mp3" download="Illegal Weapon 2.0"> 
            <button type="button">Download this song now ~ 4149 KB</button> 
        </a> <br><br><br> 
        <p>Kamal Hai ~ Badshah</p>
        <audio controls>
            <source src="15.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/15.mp3" download="Kamal Hai"> 
            <button type="button">Download this song now ~ 3809 KB</button> 
        </a> <br><br><br> 
        <p>Matargashti ~ Mohit Chauhan</p>
        <audio controls>
            <source src="16.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/16.mp3" download="Matargashti"> 
            <button type="button">Download this song now ~ 2244 KB</button> 
        </a> <br><br><br> 
        <p>Mera Bhai ~ Vikas Naidu, Shubham Singh</p>
        <audio controls>
            <source src="17.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/17.mp3" download="Mera Bhai"> 
            <button type="button">Download this song now ~ 3060 KB</button> 
        </a> <br><br><br> 
        <p>Ready To Move ~ Armaan Malik</p>
        <audio controls>
            <source src="18.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/18.mp3" download="Ready To Move"> 
            <button type="button">Download this song now ~ 3506 KB</button> 
        </a> <br><br><br> 
        <p>Shaitan Ka Saala ~ Vishal Dadlani, Sohail Sen</p>
        <audio controls>
            <source src="19.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/19.mp3" download="Shaitan Ka Saala"> 
            <button type="button">Download this song now ~ 3377 KB</button> 
        </a> <br><br><br> 
        <p>Tom And Jerry ~ Satbir Aujla</p>
        <audio controls>
            <source src="20.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/20.mp3" download="Tom And Jerry"> 
            <button type="button">Download this song now ~ 5733 KB</button> 
        </a> <br><br><br> 
        <p>Yarri Ka Circle ~ Darshan Raval, Jonita Gandhi</p>
        <audio controls>
            <source src="21.mp3" type="audio/mpeg">
        </audio><br>
        <a href="/Audioplayer/21.mp3" download="Yaari Ka Circle"> 
            <button type="button">Download this song now ~ 4229 KB</button> 
        </a> <br><br><br> 
    </body>
</html>