<!DOCTYPE html>
<html>
    <head>

        <title>Sowmay Jain</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/x-icon" href="/logo.png"/>

    </head>
    <body><br><br><br><br><br>


        <div class="mx-auto" style="width: 800px;">
            <p class="text-center display-4 font-weight-bold">Hi, this is <a class="text-danger" href="https://twitter.com/sowmay_jain" target="_blank">Sowmay</a>.</p>
            <div class="row">
                <div class="blog-main">
                    <h3 class="pb-3 mb-4 border-bottom"></h3><br><br>
                    <div>
                        <h4>Founder of <a class="text-danger" href="https://instadapp.io/" target="_blank">InstaDApp</a> . Building <a class="text-danger" href="https://makerscan.io/" target="_blank">MakerScan</a>. Fintech Expert.</h4>
                        <h4>Ethereum. Smart Contract. Like so many others, I’m on my Plan B</h4>
                        <h4>career. Digitalizing Jainism at <a class="text-danger" href="https://forum.jinswara.com/" target="_blank">JinSwara</a>.</h4><br>
                        <h4>You can email me at  <a class="text-danger" href="mailto:sowmay@instadapp.io?Subject=Hello">sowmay@instadapp.io</a> </h4><br>
                        <h4>If it’s urgent, you may also consider tweeting me <a class="text-danger" href="https://twitter.com/sowmay_jain" target="_blank">@sowmay_jain</a></h4>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>