<!DOCTYPE html>
<html>
    <head>

        <title>About Sowmay Jain</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/x-icon" href="/SowmayJain/1.jpg"/>

    </head>
    <body class="bg-primary">

        <div class="text-center">
            <a href="http://localhost:3000/HI" class="text-danger display-3"><code><kbd><ins><strog>About Sowmay Jain</strog></ins></kbd></code></a>
            <img src="/SowmayJain/1.jpg">
        </div>

        <div class="text-center">
            <p class="display-4">He is Founder of <a class="text-danger" href="https://instadapp.io/"><ins>Instadapp</ins></a> and <a class="text-danger" href="https://forum.jinswara.com/"><ins>JinSwara</ins></a>.</p>
            <p class="display-4">He is on - </p><br>
            <ins><a class="text-danger display-4" href="https://github.com/Sowmayjain">Github</a></ins><br>
            <ins><a class="text-danger display-4" href="https://www.instagram.com/sowmayjain/">Instagram</a></ins><br>
            <ins><a class="text-danger display-4" href="https://twitter.com/sowmay_jain">Twitter</a></ins><br>
            <ins><a class="text-danger display-4" href="https://www.youtube.com/channel/UCBId0vZ8XnS1mDh6pGYjy9A">Youtube</a></ins>
        </div>
        
    </body>
</html>