<!DOCTYPE html>
<html>
    <head>

        <title>Educato</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/project/project.css"">
        <link rel="shortcut icon" type="image/x-icon" href="/project/pro.jpg"/>

    </head>
    <body><br><br>
        <div class="container pb-4 d-flex h-100 p-3 mx-auto flex-column">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand pr-5" href="#">Educato.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
      
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Leadership
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Catalog
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Degrees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <button class="btn">Sign in</button>
                    <button class="btn btn-primary" data-toggle="button" aria-pressed="false" autocom>Sign up</button>
                </form>
                </div>
            </nav><br><br><br>

            <img class="mage" src="/project/pro.jpg">

            <h2 class="cover-heading">Explore thousand</h2>
            <h2 class="cover-heading">of premium courses</h2>
            <p>Transform your career with a degree online</p>
            <p>from a world-class univerity on Educato.</p><br>

            <div class="bg-light">
                <img src="/project/p1.jpg" width="30" height="60" class="sk d-inline-block align-top" alt="">
                <p class="font-weight-bold">An inclusive experience</p>
                <p>Desighned for a diverse global audience</p>
            </div><br>
            <div class="text-muted">
                <img src="/project/p2.jpg" width="30" height="50" class="sk d-inline-block align-top" alt="">
                <p class="font-weight-bold">Sharable Certificates</p>
                <p>Add to your resume and Linkedln profile</p>
            </div><br>
            <div class="bg-light">
                <img src="/project/p3.jpg" width="30" height="50" class="sk d-inline-block align-top" alt="">
                <p class="font-weight-bold">Acadmic and technical support</p>
                <p>Request feedback through peer reviews</p>
            </div>
        </div>
    </body>
</html>